@import "tailwindcss";

:root {
  --primary-orange: #f4621d;
  --primary-blue: #3571df;
  --secondary-orange: #ff8750;
  --secondary-blue: #6a9afa;
  --neutral-white: #ffffff;
  --neutral-carbon: #1f1f1f;
  --neutral-gray: #5a5a5a;
  --neutral-light: #e6e6e6;
  --official-gradient: linear-gradient(135deg, #3571df, #f4621d);
  --background: var(--neutral-white);
  --foreground: var(--neutral-gray);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--neutral-carbon);
    --foreground: var(--neutral-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
